<template>
  <div>
    <v-carousel>
      <v-carousel-item 
        v-for="item in items" 
        :key="item.id"
        v-bind:src="item.src" />
    </v-carousel>
    <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'hello',
  data() {
    return {
      msg: 'CheckMEIn2 - Collaborative social network',
      items: [
        { id: 1, src: 'https://vuetifyjs.com/public/doc-images/carousel/squirrel.jpg' },
        { id: 2, src: 'https://vuetifyjs.com/public/doc-images/carousel/planet.jpg' },
      ],
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
